/* Zdjęcie dodane przez Magda Ehlers: https://www.pexels.com/pl-pl/zdjecie/kolor-tekstu-1279813/ */
* {
    font-family: 'Gill Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: white;
}

header {
    width: 100%;
    /* wysokość może być, ale wtedy trzeba popracować nad responsywnością */
    /* height: 30vh; */
    background-image: url('../img/banner-2.jpg');
    background-size: contain;
    /* just in case */
    background-color: plum;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.1em;
    padding: 1rem 0;
}

@media screen and (max-width: 400px) {
    header {
        text-align: center;
        margin: 0;
        background-size: cover;
        font-size: 0.8em;
    }
}

header h1 {
    margin: 0;
}

/* header p {
    font-size: 0.5em;
} */

header #spawn-button {
    border: none;
    color: silver;
    text-transform: uppercase;
    border-radius: 1.5em;
    background-color: white;
    font-weight: bold;
    padding: 1em 2em;
    margin: 0.4rem;
    font-size: 0.6em;
    cursor: grab;
    /* text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em hsl(317 100% 54%);
    box-shadow: inset 0 0 0.5em 0 rgb(255, 20, 189), 0 0 0.5em 0 rgb(255, 20, 189);    */
}

header #spawn-button:active {
    color: rgb(254, 188, 57);
    scroll-behavior: smooth;
}

section.colors-container {
    display: flex;
    height: 65vh;
    align-items: center;
    margin-top: 1.5rem;
}

section.colors-container div {
    width: 25%;
    height: 100%;
    background-color: yellowgreen;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}