/* Zdjęcie dodane przez Magda Ehlers: https://www.pexels.com/pl-pl/zdjecie/kolor-tekstu-1279813/ */
* {
    font-family: 'Gill Sans', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 2.6em;
}

header {
    width: 100%;
    background-image: url('../img/banner-2.jpg');
    background-size: contain;
    /* just in case */
    background-color: plum;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.1em;
    padding: 1rem 0;
}

@media screen and (max-width: 400px) {
    header {
        text-align: center;
        margin: 0;
        background-size: cover;
        font-size: 0.8em;
    }
}

header h1 {
    margin: 0;
}

header p {
    font-size: 0.5em;
}

button {
    color: silver;
    text-transform: uppercase;
    border-radius: 1.5em;
    background-color: white;
    font-weight: bold;
    padding: 1em 2em;
    margin: 0.4rem;
    border: none;
    font-size: 0.4em;
    cursor: grab;
    /* text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em hsl(317 100% 54%);
    box-shadow: inset 0 0 0.5em 0 rgb(255, 20, 189), 0 0 0.5em 0 rgb(255, 20, 189);    */
}

button:hover {
    color: hsl(400, 99%, 61%);
    text-shadow: none;
    box-shadow: none;
    background-color: white;
    /* border:  rgba(255, 255, 255, 0.743) solid 2px; */
    scroll-behavior: smooth;
}

section.colors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
}

.color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
}
/* Kolory tymaczoswe, bo normkanie to wydaje mi się, że będą jakieś randomowoe liczby */
.color-1 {
    background-color: rgb(188, 254, 57);
}

.color-2 {
    background-color: hsl(500, 99%, 61%);
}

.color-3 {
    background-color: rgb(72, 39, 234);
}

.color-4 {
    background-color: rgb(224, 29, 71);
}